@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Customer>
<div id="content">
    <h3 style="margin-top: 50px; text-align: center; padding-bottom: 50px">Customer List</h3>
    <table class="table table-striped" style="margin: 0 auto; width: 80%">
        <thead style="background-color: black; color: white">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Birthday</th>
                <th>Adress</th>
                <th>Phone</th>
                <th>Function</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.IdCustomer</td>
                    <td>@s.Fullname</td>
                    <td>@s.Email</td>
                    <td>@s.Birthday</td>
                    <th>@s.Address</th>
                    <th>@s.Phone</th>
                    <td>
                        <a style="background-color: green; text-decoration: none; color: white; padding: 5px 10px" asp-action="Edit" asp-route-id="@s.IdCustomer">Edit</a>
                        <a style="background-color: red; text-decoration: none; color: white; padding: 5px 10px" asp-action="Delete" asp-route-id="@s.IdCustomer">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pagination">
        <div aria-label="Page navigation example">
            <ul class="pagination">
                @{
                    int numberPage = ViewBag.numberPage;
                    int pageCurrent = ViewBag.pageCurrent;

                    if (pageCurrent > 1)
                    {
                        int prePage = pageCurrent - 1;
                        <li class="page-item">
                            <a class="page-link" href="?page=@prePage" aria-label="Previous">
                                <span aria-hidden="true">
                                    ‹
                                </span>
                            </a>
                        </li>
                    }

                    int i;
                    for (i = 1; i <= numberPage; i++)
                    {
                        if (i == pageCurrent)
                        {
                            <li class="page-item active"><a class="page-link" href="?page=@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
                        }
                    }

                    if (pageCurrent > 1 && pageCurrent < numberPage)
                    {
                        int nextPage = pageCurrent + 1;
                        <li class="page-item">
                            <a class="page-link" href="?page=@nextPage" aria-label="Next">
                                <span aria-hidden="true">
                                    ›
                                </span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <a asp-action="Create" class="btn btn-primary" style="margin-top: 20px; padding: 10px; margin-left: 130px">Create New Customer</a>
</div>
