@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Products>
<div id="content">
    <div id="container">
        <h3 style="margin-top: 50px; text-align: center; padding-bottom: 50px">Products List</h3>
        <table id="dataTable" class="table table-striped" style="margin: 0 auto; width: 95%">
            <thead style="background-color: black; color: white" id="dataTable">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Catgory</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Function</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.IdProduct</td>
                        <td>@s.Name</td>
                        <td>@s.Category.Name</td>
                        <td>$@s.Price</td>
                        <th>
                            <img src="@Url.Content(s.Image)" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                        </th>
                        <td>
                            <a style="background-color: green; text-decoration: none; color: white; padding: 5px 10px" asp-action="Edit" asp-route-id="@s.IdProduct">Edit</a>
                            <a style="background-color: red; text-decoration: none; color: white; padding: 5px 10px" asp-action="Delete" asp-route-id="@s.IdProduct">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <div aria-label="Page navigation example">
            <ul class="pagination">
                @{
                    int numberPage = ViewBag.numberPage;
                    int pageCurrent = ViewBag.pageCurrent;

                    if (pageCurrent > 1)
                    {
                        int prePage = pageCurrent - 1;
                        <li class="page-item">
                            <a class="page-link" href="?page=@prePage" aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="fa-sharp fa-solid fa-arrow-left"></i>
                                </span>
                            </a>
                        </li>
                    }

                    int i;
                    for (i = 1; i <= numberPage; i++)
                    {
                        if (i == pageCurrent)
                        {
                            <li class="page-item active"><a class="page-link" href="?page=@i">@i</a></li>
                        }
                        else
                        {
                            <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
                        }
                    }

                    if (pageCurrent > 1 && pageCurrent < numberPage)
                    {
                        int nextPage = pageCurrent + 1;
                        <li class="page-item">
                            <a class="page-link" href="@nextPage" aria-label="Next">
                                <span aria-hidden="true">
                                    <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <br />
    <a asp-action="Create" class="btn btn-primary" style="margin-top: 20px; padding: 10px; margin-left: 50px">Create New Products</a>
</div>